.panel-editor-only #previewPane, .panel-editor-only #splitter { display: none !important; }
    .panel-editor-only #splitArea { grid-template-columns: minmax(0, 1fr) !important; }
    .panel-preview-only #editorPane, .panel-preview-only #splitter { display: none !important; }
    .panel-preview-only #splitArea { grid-template-columns: minmax(0, 1fr) !important; }
